.App {
  text-align: center;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.link-box {
  width: 220px;
  height: 150px; /* Adjust height as needed */
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Ensure the link-box adjusts its height according to content */
}

.link-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the anchor tag to take up remaining space */
  text-decoration: none;
  color: inherit;
}

.title {
  width: 70%; /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  word-wrap: break-word;
}

.site-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px; /* Adjust to match the width of the sidebar */
  
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination li a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
}

.pagination li a:hover {
  background-color: #cccaca;
}

.pagination li.active a{
  background-color: rgb(167, 171, 171); /* Change to the desired color */
  
}
